//存款
.depositWrap {
    width: 100%;
    height: calc(100vh - 125px);
    background: transparent;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px 0;

    .depList {
        width: 100%;
        height: auto;
        background: $mainBG_1;
        padding: 10px 15px 15px;
        margin-bottom: 10px;
        display: none;
        box-sizing: border-box;
        border-top: 1px solid $mainBorder_1;
        border-bottom: 1px solid $mainBorder_1;

        &.display {
            display: block;
        }

        .title {
            font-size: 15px;
            letter-spacing: 1px;
            color: $title_3;
            font-weight: bold;
        }

        .listWrap {
            width: 100%;
            height: auto;
            overflow-x: auto;
            padding: 2px 0;
            margin-top: 10px;

            ul {
                width: auto;
                height: auto;
                display: flex;

                li {
                    width: 22.4vw;
                    height: 19.2vw;
                    margin-right: 5px;
                    @include depositBtn;

                    i {
                        display: block;
                        width: 8.27vw;
                        height: 8.27vw;
                    }

                    p {
                        margin-top: 6px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .depContent {
        display: none;
        width: 100%;
        height: auto;
        padding: 10px 15px 15px;
        margin-bottom: 10px;
        box-sizing: border-box;
        background: $mainBG_1;

        &.display {
            display: block;
        }

        .title {
            font-size: 14px;
            color: $title_2;
            font-weight: bold;
            margin-bottom: 8px;

            &:not(:nth-of-type(1)) {
                margin-top: 15px;
            }

            .remind {
                margin-left: 10px;
            }

            span {
                color: $title_2;
            }
        }

        select {
            width: 100%;
            height: 42px;
            @include mainSelect;
            margin-bottom: 15px;
        }

        .remind {
            font-size: 12px;
            font-weight: bold;
            color: $remind_Sp;
            padding-top: 3px;

            .num {
                margin-left: 10px;
            }
        }

        input {
            width: 100%;
            height: 42px;
            @include mainInput;
        }

        .check {
            width: 100%;
            height: 42px;
            @include mainBtn;
            margin-top: 20px;
        }

        &.already {
            
            .title {
                color: $title_2;
                font-size: 15px;
                letter-spacing: 1px;
                
            }

            ul {
                width: 100%;
                height: auto;

                li {
                    width: 100%;
                    height: auto;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;

                    p {
                        font-size: 14px;
                        font-weight: bold;
                        color: $title_Time;

                        &.smallTitle {
                            color: $mainWord_1;
                            margin-right: 30px;
                        }

                        button {
                            width: 12.27vw;
                            height: 7.73vw;
                            margin-left: 10px;

                            &.copy {
                                @include noBgBtn_Normal;
                                font-size: 14px;
                            }

                            &.change {
                                @include mainBtn;
                                font-size: 14px;
                            }
                        }
                    }

                    .checkBox {
                        width: 95%;
                        height: auto;
                        background: $mainBG_3;
                        border: 1px solid $mainBorder_1;
                        color: $title_2;
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        box-sizing: border-box;
                        padding: 0 20px;
                        border-radius: 5px;
                        font-weight: bold;
                        padding: 15px 0;
                        flex-direction: column;
                        margin: 0 auto;

                        p {
                            color: $mainWord_1;
                            display: flex;
                            align-items: center;

                            &:nth-of-type(1) {
                                font-size: 38px;
                                margin-bottom: 10px;
                                color:$title_2;
                            }
                        }
                    }

                    .check {
                        margin: 0;
                    }
                }
            }
        }
    }

    .remindBox {
        width: 92.27vw;
        height: auto;
        margin: 0 auto;
        @include remindBox;

        p {
            font-size: 12px;
            color: $mainWord_1;
            font-weight: bold;
            line-height: 18px;
            margin-bottom: 8px;

            &.title {
                margin-bottom: 10px;
                font-size: 14px;
                letter-spacing: 1px;
                color: $remind_Sp;
            }

            .sp {
                color: $mainWord_1;
            }
        }
    }
}