//優惠選擇列
.eventApplyType {
    width: 100%;
    height: auto;
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 100;

    ul {
        width: 100%;
        height: auto;
        background: $BG;
        display: flex;
        padding: 10px 14px 0;

        li {
            width: 34%;
            height: 40px;
            @include pageStyle;
            margin-right: 5px;
            border-radius: 10px 10px 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}

//優惠列表
.applyList {
    @include bgStyle_1;
    padding: 60px 14px 20px;
    display: none;

    &.display {
        display: block;
    }

    .listBox {
        width: 100%;
        height: auto;

        .list {
            width: 100%;
            height: auto;
            background: $mainBG_1;
            border: solid 1px $mainBorder_1;
            border-radius: 5px;
            box-shadow: 0 5px 6px -2px $mainShadow_2;
            margin-bottom: 10px;

            .title {
                width: 100%;
                height: 10vw;
                border-bottom: solid 1px $mainBorder_1;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $title_1;
                font-size: 4vw;
                font-weight: bold;
            }

            .tips {
                @include smallTip;
                width: 60%;
                margin: 6px auto 0;

                span {
                    margin-right: 5px;
                }
            }

            ul {
                width: 100%;
                height: auto;
                padding: 5px 0;

                li {
                    width: 100%;
                    height: 8vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 14px;

                    &.cur {
                        background: $wordBox_secondBG;
                    }
                    
                    label {
                        width: 35%;
                        color: $mainWord_1;
                        font-size: 3.7vw;
                        font-weight: bold;
                        flex-shrink: 0;
                    }

                    p {
                        color: $mainWord_1;
                        font-size: 3.4vw;
                        font-weight: bold;
                        line-height: 5.5vw;

                        em {
                            color: $remind;

                            &.sp {
                                color: $remind_Sp;
                            }
                        }
                    }
                }
            }

            .btnBox {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                padding: 10px 14px 20px;

                &.single {
                    justify-content: center;

                    button {
                        width: 50vw;
                        
                        &.checkBtn {
                            @include mainBtn;
                            font-size: 3.4vw;
                        }
                    }
                }

                button {
                    width: 40vw;
                    height: 8vw;

                    &.applyBtn {
                        @include mainBtn;
                        font-size: 3.4vw;
                    }

                    &.checkBtn {
                        @include secondBtn;
                        font-size: 3.4vw;
                    }
                }
            }
        }
    }
}

//優惠申請紀錄
.applyRecord {
    @include bgStyle_1;
    padding: 50px 0 20px;
    display: none;

    &.display {
        display: block;
    }

    .searchContain {
        width: 100%;
        height: auto;
        background: $mainBG_1;
        padding: 14px;
        
        form {
            width: 100%;
            height: auto;

            ul {
                width: 100%;
                height: auto;

                li {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;

                    p {
                        color: $title_1;
                        font-size: 3.4;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    select {
                        width: 100%;
                        height: 10vw;
                        @include mainSelect;
                    }

                    .inputBox {
                        width: 100%;
                        height: 10vw;
                        border: solid 1px $mainBorder_2;
                        border-radius: 30px;
                        color: $mainWord_1;
                        font-size: 4vw;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
    
                        input {
                            width: auto;
                            height: 100%;
                            border: none;
                            background: none;
                            color: $mainWord_1;
                            font-size: 3.4vw;
                            font-weight: bold;
                        }
                    }

                    .btnBox {
                        width: 90%;
                        height: auto;
                        display: flex;
                        margin: 20px auto;

                        button {
                            width: 25%;
                            height: 10vw;
                            @include secondBtn;
                            border-right-width: 0;
                            border-radius: 0;
                            font-size: 4vw;

                            &:nth-of-type(1) {
                                border-radius: 5px 0 0 5px;
                            }
                        
                            &:last-child {
                                border-radius: 0 5px 5px 0;
                                border-right-width: 1px;
                            }
                        }
                    }

                    &.bigBtn {
                        margin: 0;

                        button {
                            width: 80%;
                            height: 10vw;
                            @include mainBtn;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }

    .reviewBody {
        width: 100%;
        height: auto;
        padding: 10px 14px;

        .noData {
            display: none;
            width: 100%;
            height: auto;
            color: $time;
            font-size: 3.7vw;
            font-weight: bold;
            text-align: center;
            padding: 80px;

            &.display {
                display: block;
            }
        }

        .recordBox {
            display: none;
            width: 100%;
            height: auto;
            background: $mainBG_1;
            border-radius: 10px;
            border: solid 1px $mainBorder_1;
            margin-bottom: 10px;

            &.display {
                display: block;
            }

            .title {
                width: 100%;
                height: 10vw;
                border-bottom: solid 1px $mainBorder_1;
                color: $title_1;
                font-size: 4vw;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 14px;
                
                .status {
                    font-size: 3.4vw;
                    color: $time;

                    .sus {
                        color: $remind_Sp;
                    }

                    .fail {
                        color: $remind;
                    }
                }
            }

            ul {
                width: 100%;
                height: auto;
                padding: 5px 14px;

                li {
                    width: 100%;
                    height: 8vw;
                    color: $mainWord_1;
                    font-size: 3.4vw;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}