//優惠選擇列
.eventType {
    width: 100%;
    height: auto;
    background: $mainBG_1;
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 100;
    overflow-x: auto;

    ul {
        width: 100%;
        height: auto;
        display: flex;

        li {
            width: 22.5vw;
            height: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: solid 3px transparent;

            &:active,&.active {
                border-color: $mainBorder_1;

                p {
                    color: $title_1
                }
            }

            .all_ic {
                width: 25px;
                height: 25px;
                margin-bottom: 8px;
            }

            p {
                color: $mainWord_1;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
}

//優惠列表
.eventList {
    @include bgStyle_1;
    padding: 80px 14px 20px;

    ul {
        width: 100%;
        height: auto;

        li {
            width: 100%;
            height: auto;
            margin-bottom: 10px;

            .eventBox {
                width: 100%;
                height: auto;
                background: $mainBG_1;
                border: solid 1px $mainBorder_1;
                border-radius: 5px;
                overflow: hidden;

                .eventImg {
                    width: 97%;
                    height: auto;
                    margin: 6px auto 0;
                }

                .textBox {
                    width: 100%;
                    height: 10vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 10px;

                    p {
                        width: 50%;
                        color: $mainWord_1;
                        font-size: 3.7vw;
                        font-weight: bold;
                        flex-shrink: 0;
                        @include textHidden;
                    }

                    div {
                        width: auto;
                        height: auto;
                        display: flex;

                        button {
                            width: 18vw;
                            height: 7vw;

                            &:first-child {
                                @include secondBtn;
                                font-size: 3.4vw;
                                padding: 0;
                            }

                            &:last-child {
                                @include mainBtn;
                                font-size: 3.4vw;
                                padding: 0;
                                margin-left: 10px;
                                display: none;

                                &.display {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//優惠內頁
.eventDetail {
    @include bgStyle_1;

    .eventImg {
        width: 97%;
        height: auto;
        margin: 6px auto 0;
    }

    .detailContent {
        width: 92vw;
        height: auto;
        background: $mainBG_1;
        border-radius: 5px;
        box-shadow: 0 5px 6px -2px $mainShadow_2;
        padding: 0 14px 20px;
        margin: 10px auto;

        ul {

            .title {
                width: 100%;
                height: auto;
                color: $title_1;
                font-size: 4vw;
                font-weight: bold;
                text-align: center;
                padding: 20px 0;
            }

            ul {
                width: 90%;
                height: auto;
                list-style: disc;
                margin: 0 auto;

                li {
                    color: $mainWord_1;
                    font-size: 3.7vw;
                    font-weight: bold;
                    line-height: 5.5vw;
                    margin-top: 20px;

                    &:nth-of-type(1) {
                        margin: 0;
                    }

                    .innerImg {
                        margin-top: 10px;
                    }

                    ul {
                        width: 100%;
                        height: auto;
                        list-style: decimal;
    
                        li {
                            color: $mainWord_1;
                            margin-top: 10px;

                            &.sp {
                                color: $remind;
                            }
                        }
                    }
                }
            }
        }
    }
}