//footer
footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    ul {
        width: 100%;
        height: 13.5vw;
        @include footerBG;

        li {
            width: 20%;
            height: 11vw;
            @include footerWord;
            white-space: nowrap;
            border-right: 1px solid $mainBorder_3;

            &::before {
                content: "";
                position: absolute;
                width: 20.2vw;
                height: 80%;
                z-index: -1;
                background: none;
            }

            &:nth-last-of-type(1) {
                border: none;
            }

            &.active {

                i {
                    background-position-y: 100%;
                    background-position-x: 20%;


                    &:nth-of-type(4n) {
                        background-position-y: 92%;
                    }
                }
            }

            i {
                display: block;
                width: 6vw;
                height: 6.2vw;
                z-index: 102;

                &.menu_ic {
                    background-position-x: 0.6vw;
                }

                &.event_ic {
                    background-position-x: -5.7vw;
                }

                &.wallet_ic {
                    background-position-x: -11.6vw;
                }

                &.service_ic {
                    background-position-x: -19vw;
                    width: 12vw;
                    height: 6.7vw;
                    background-size: 315%;
                }

                &.center_ic {
                    background-position-x: 100%;
                    width: 6vw;
                    height: 6vw;
                }
            }

            p {
                font-size: 12px;
                padding-top: 2px;
                z-index: 102;
            }
        }
    }
}