//背景色
.bg {
    background: url('../images/bg.jpg') no-repeat bottom center;
    background-size: cover;
}

//header
// header .inviteBtn {
//     background: url('../images/invite.gif') no-repeat;
//     background-size: contain;
// }
header .back_arrow {
    background: url('../images/icon/arrow_active.png') no-repeat center;
    background-size: contain;
}
header .mail_ic {
    background: url('../images/icon/svg/header_mail.svg') no-repeat center;
    background-size: contain;
}
header .editBtn {
    background: url('../images/icon/svg/header_edit.svg') no-repeat;
    background-size: 100%;
}
header .refresh_ic {
    background: url('../images/icon/svg/header_re.svg') no-repeat center;
    background-size: contain;
}

//marquee_ic
.marqueeBox .marquee_ic::before {
    background: url('../images/icon/svg/marquee_icon.svg') no-repeat center;
    background-size: contain;
}

//operate
.operate .deposit_ic {
    background: url('../images/icon/operate_deposit.png') no-repeat center;
    background-size: contain;
}
.operate .transfer_ic {
    background: url('../images/icon/operate_transfer.png') no-repeat center;
    background-size: contain;
}
.operate .withdrawal_ic {
    background: url('../images/icon/operate_withdrawal.png') no-repeat center;
    background-size: contain;
}
.operate .vip_ic {
    background: url('../images/icon/operate_vip.png') no-repeat center;
    background-size: contain;
}

//homeCenter
.homeCenter .sport_ic {
    background: url('../images/icon/svg/homeCenter_sport.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .active .sport_ic {
    background: url('../images/icon/svg/homeCenter_sportActive.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .live_ic {
    background: url('../images/icon/svg/homeCenter_live.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .active .live_ic {
    background: url('../images/icon/svg/homeCenter_liveActive.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .slot_ic {
    background: url('../images/icon/svg/homeCenter_slot.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .active .slot_ic {
    background: url('../images/icon/svg/homeCenter_slotActive.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .fish_ic {
    background: url('../images/icon/svg/homeCenter_fish.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .active .fish_ic {
    background: url('../images/icon/svg/homeCenter_fishActive.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .lottery_ic {
    background: url('../images/icon/svg/homeCenter_lottery.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .active .lottery_ic {
    background: url('../images/icon/svg/homeCenter_lotteryActive.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .board_ic {
    background: url('../images/icon/svg/homeCenter_board.svg') no-repeat center;
    background-size: contain;
}
.homeCenter .active .board_ic {
    background: url('../images/icon/svg/homeCenter_boardActive.svg') no-repeat center;
    background-size: contain;
}

//footer
footer .menu_ic {
    background: url('../images/icon/svg/footer_home.svg') no-repeat center;
    background-size: contain;
}
footer .active .menu_ic {
    background: url('../images/icon/svg/footer_homeActive.svg') no-repeat center;
    background-size: contain;
}
footer .event_ic {
    background: url('../images/icon/svg/footer_event.svg') no-repeat center;
    background-size: contain;
}
footer .active .event_ic {
    background: url('../images/icon/svg/footer_eventActive.svg') no-repeat center;
    background-size: contain;
}
footer .wallet_ic {
    background: url('../images/icon/svg/footer_wallet.svg') no-repeat center;
    background-size: contain;
}
footer .active .wallet_ic {
    background: url('../images/icon/svg/footer_walletActive.svg') no-repeat center;
    background-size: contain;
}
footer .service_ic {
    background: url('../images/icon/svg/footer_service.svg') no-repeat center;
    background-size: contain;
}
footer .active .service_ic {
    background: url('../images/icon/svg/footer_serviceActive.svg') no-repeat center;
    background-size: contain;
}
footer .center_ic {
    background: url('../images/icon/svg/footer_member.svg') no-repeat center;
    background-size: contain;
}
footer .active .center_ic {
    background: url('../images/icon/svg/footer_memberActive.svg') no-repeat center;
    background-size: contain;
}

//member
.memberWrap .user .wallet_ic {
    background: url('../images/icon/member_walletIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .user button:active .wallet_ic {
    background: url('../images/icon/member_walletIC_active.png') no-repeat center;
    background-size: contain;
}
.memberWrap .user .vip_ic {
    background: url('../images/icon/member_vipIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .user button:active .vip_ic {
    background: url('../images/icon/member_vipIC_active.png') no-repeat center;
    background-size: contain;
}
.memberWrap .user .bet_ic {
    background: url('../images/icon/member_betIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .user .deal_ic {
    background: url('../images/icon/member_dealIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .user .mail_ic {
    background: url('../images/icon/member_mailIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .user .card_ic {
    background: url('../images/icon/member_cardIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options .invite_ic {
    background: url('../images/icon/member_inviteIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options:active .invite_ic {
    background: url('../images/icon/member_inviteIC_active.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options .point_ic {
    background: url('../images/icon/member_pointIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options:active .point_ic {
    background: url('../images/icon/member_pointIC_active.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options .eventApply_ic {
    background: url('../images/icon/member_eventIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options:active .eventApply_ic {
    background: url('../images/icon/member_eventIC_active.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options .help_ic {
    background: url('../images/icon/member_helpIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options:active .help_ic {
    background: url('../images/icon/member_helpIC_active.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options .about_ic {
    background: url('../images/icon/member_aboutIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options:active .about_ic {
    background: url('../images/icon/member_aboutIC_active.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options .app_ic {
    background: url('../images/icon/member_downloadIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options:active .app_ic {
    background: url('../images/icon/member_downloadIC_active.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options .lang_ic {
    background: url('../images/icon/member_langIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options:active .lang_ic {
    background: url('../images/icon/member_langIC_active.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options .logout_ic {
    background: url('../images/icon/member_logoutIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options:active .logout_ic {
    background: url('../images/icon/member_logoutIC_active.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options .arrow_ic {
    background: url('../images/icon/arrow_1.png') no-repeat center;
    background-size: contain;
}
.memberWrap .options:active .arrow_ic {
    background: url('../images/icon/arrow_active.png') no-repeat center;
    background-size: contain;
}
.memberInfo .qrCode {
    background: url('../images/qrcode.png') no-repeat;
    background-size: contain;
}
.memberInfo .check {
    background: url('../images/icon/svg/check.svg') no-repeat;
    background-size: 100%;
}
.memberInfo .noCheck {
    background: url('../images/icon/svg/nocheck.svg') no-repeat;
    background-size: 100%;
}

//wallet
.walletWrap .deposit_ic {
    background: url('../images/icon/svg/wallet_deposit.svg') no-repeat;
    background-size: 100%;
}
.walletWrap .transfer_ic {
    background: url('../images/icon/svg/wallet_transfer.svg') no-repeat;
    background-size: 100%;
}
.walletWrap .withdrawal_ic {
    background: url('../images/icon/svg/wallet_withdrawal.svg') no-repeat;
    background-size: 100%;
}
.walletWrap .smallInfo {
    background: url('../images/icon/svg/wallet_information.svg') no-repeat;
    background-size: contain;
}
.walletWrap .db_arrow {
    background: url('../images/icon/svg/arrow_db_1.svg') no-repeat;
    background-size: contain;
}
.walletWrap .betting_ic {
    background: url('../images/icon/wallet_betIC.png') no-repeat center;
    background-size: contain;
}
.walletWrap .options:active .betting_ic {
    background: url('../images/icon/wallet_betIC_active.png') no-repeat center;
    background-size: contain;
}
.walletWrap .deal_ic {
    background: url('../images/icon/wallet_dealIC.png') no-repeat center;
    background-size: contain;
}
.walletWrap .options:active .deal_ic {
    background: url('../images/icon/wallet_dealIC_active.png') no-repeat center;
    background-size: contain;
}
.walletWrap .arrow_ic {
    background: url('../images/icon/arrow_1.png') no-repeat center;
    background-size: contain;
}
.walletWrap .options:active .arrow_ic {
    background: url('../images/icon/arrow_active.png') no-repeat center;
    background-size: contain;
}

//record
.bettingWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/arrow_db_1.svg') no-repeat center;
    background-size: contain;
}

//card
.cardList .cardBox .add {
    background: url('../images/icon/svg/add.svg') no-repeat center;
    background-size: 20%;
}

//event
.eventType .all_ic {
    background: url('../images/icon/svg/event_all.svg') no-repeat center;
    background-size: contain;
}
.eventType li:active .all_ic,
.eventType li.active .all_ic {
    background: url('../images/icon/svg/event_all_active.svg') no-repeat center;
    background-size: contain;
}

//vip
.vipWrap .medal {
    background: url('../images/medal.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v1 {
    background: url('../images/medal_2.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v2 {
    background: url('../images/medal_3.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v3 {
    background: url('../images/medal_4.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v4 {
    background: url('../images/medal_5.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v5 {
    background: url('../images/medal_6.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v6 {
    background: url('../images/medal_7.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.v7 {
    background: url('../images/medal_8.png') no-repeat center;
    background-size: contain;
} 
.vipWrap .cardBox i {
    background: url('../images/icon/arrow_1.png') no-repeat center;
    background-size: contain;
}
.vipWrap .cardBox .card li.vip0 {
    background: url('../images/vip_card.png') no-repeat;
    background-size: 100%;
}
.vipWrap .cardBox .card li.vip1 {
    background: url('../images/vip_card_2.png') no-repeat;
    background-size: 100%;
}
.vipWrap .cardBox .card li.vip2 {
    background: url('../images/vip_card_3.png') no-repeat;
    background-size: 100%;
}
.vipWrap .cardBox .card li.vip3 {
    background: url('../images/vip_card_4.png') no-repeat;
    background-size: 100%;
}
.vipWrap .cardBox .card li.vip4 {
    background: url('../images/vip_card_5.png') no-repeat;
    background-size: 100%;
}
.vipWrap .cardBox .card li.vip5 {
    background: url('../images/vip_card_6.png') no-repeat;
    background-size: 100%;
}
.vipWrap .cardBox .card li.vip6 {
    background: url('../images/vip_card_7.png') no-repeat;
    background-size: 100%;
}
.vipWrap .cardBox .card li.vip7 {
    background: url('../images/vip_card_8.png') no-repeat;
    background-size: 100%;
}
.vipWrap .checkBtn .arrow_ic {
    background: url('../images/icon/arrow_1.png') no-repeat center;
    background-size: contain;
}
.vipWrap .checkBtn:active .arrow_ic {
    background: url('../images/icon/arrow_active.png') no-repeat center;
    background-size: contain;
}
.vipDetail .list i::before {
    background: url('../images/icon/arrow_1.png') no-repeat center;
    background-size: contain;
}
.vipDetail .finger {
    background: url('../images/icon/finger.png') no-repeat center;
    background-size: contain;
}

//deposit
.depositWrap .card_ic {
    background: url('../images/icon/svg/deposit_card.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .atm_ic {
    background: url('../images/icon/svg/deposit_atm.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .shop_ic {
    background: url('../images/icon/svg/deposit_shop.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .listWrap li.active::after {
    background: url('../images/icon/check_w.png') no-repeat center;
    background-size: contain;
}

//transfer
.transWrap .smallInfo {
    background: url('../images/icon/svg/wallet_information.svg') no-repeat;
    background-size: contain;
}
.transWrap .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat center;
    background-size: contain;
}
.transWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/arrow_db_1.svg') no-repeat center;
    background-size: contain;
}

//withdrawal
.withWrap .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat center;
    background-size: contain;
}
.withWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/arrow_db_1.svg') no-repeat center;
    background-size: contain;
}
.withWrap .smallInfo {
    background: url('../images/icon/svg/wallet_information.svg') no-repeat;
    background-size: contain;
}

//slot
.slotHeader li .all_ic {
    background: url('../images/icon/svg/slotPage_all.svg') no-repeat center;
    background-size: contain;
}
.slotHeader li.active .all_ic {
    background: url('../images/icon/svg/slotPage_all_active.svg') no-repeat center;
    background-size: contain;
}
.slotHeader li .hot_ic {
    background: url('../images/icon/svg/slotPage_popular.svg') no-repeat center;
    background-size: contain;
}
.slotHeader li.active .hot_ic {
    background: url('../images/icon/svg/slotPage_popular_active.svg') no-repeat center;
    background-size: contain;
}
.slotHeader li .love_ic {
    background: url('../images/icon/svg/slotPage_love.svg') no-repeat center;
    background-size: contain;
}
.slotHeader li.active .love_ic {
    background: url('../images/icon/svg/slotPage_love_active.svg') no-repeat center;
    background-size: contain;
}
.slotHeader .search_ic {
    background: url('../images/icon/svg/search.svg') no-repeat center;
    background-size: contain;
}
.slotWrap .gameBox .love {
    background: url('../images/icon/svg/slotPage_like.svg') no-repeat;
    background-size: 100%;
}
.slotWrap .gameBox .love.active {
    background: url('../images/icon/svg/slotPage_like_active.svg') no-repeat;
    background-size: 100%;
}

//help
.helpWrap .selectBox .arrow_ic,
.helpInner .title .arrow_ic {
    background: url('../images/icon/arrow_1.png') no-repeat center;
    background-size: contain;
}
.helpInner .title .about {
    background: url('../images/icon/svg/help_about.svg') no-repeat center;
    background-size: contain;
}
.helpInner .title .new {
    background: url('../images/icon/svg/help_lamp.svg') no-repeat center;
    background-size: contain;
}
.helpInner .title .often {
    background: url('../images/icon/svg/help_problem.svg') no-repeat center;
    background-size: contain;
}
.helpInner .img.depositWay {
    background: url('../images/help/withdraw.png') no-repeat;
    background-size: contain;
}
.helpInner .img.deposit_water {
    background: url('../images/help/online01.png') no-repeat;
    background-size: contain;
}
.helpInner .img.withdrawalWay {
    background: url('../images/help/withdraw.png') no-repeat;
    background-size: contain;
}
.helpInner .img.transferWay {
    background: url('../images/help/transfer.png') no-repeat;
    background-size: contain;
}
.helpInner .img.tv {
    background: url('../images/help/tv.png') no-repeat;
    background-size: contain;
}
.helpInner .img.remote {
    background: url('../images/help/remote.png') no-repeat;
    background-size: contain;
}
.helpInner .img.license {
    background: url('../images/help/license.jpg') no-repeat;
    background-size: contain;
}
.helpInner .btnBox .line_ic {
    background: url('../images/icon/svg/line.svg') no-repeat center;
    background-size: contain;
}

//invite
.inviteWrap .qr {
    background: url('../images/qrcode.png') no-repeat;
    background-size: contain;
}

//jumpWindow
.jumpWindow .title .close_ic::before {
    background: url('../images/icon/close_1.png') no-repeat center;
    background-size: contain;
}
.jumpWindow .login_ic {
    background: url('../images/icon/jumpWindow_loginIC.png') no-repeat center;
    background-size: contain;
}
.jumpWindow .eye_ic {
    background: url('../images/icon/svg/eye.svg') no-repeat center;
    background-size: contain;
}
.jumpWindow.loading .img {
    background: url('../images/icon/svg/loading.svg') no-repeat center;
    background-size: contain;
}

//goTop
.goTop i {
    background: url('../images/icon/arrow_2.png') no-repeat center;
    background-size: contain;
}


////////img↓


//header - logo
 header .logo {
     width: 82px;
 }

//ad - banner
.single-item {
    width: 100%;
    height: 45vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

//home - 遊戲partner
.homeCenter .gameBox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

//slotPage - .gameBox img
.slotWrap .gameBox img {
    width: 100%;
    height: 106px;
    object-fit: cover;
}

//eventImg
.eventList .eventImg {

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}
.eventDetail .eventImg {

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }
}
.eventDetail .innerImg {
    width: 100%;
    height: auto;
    object-fit: contain;
}

//eventWindow img
.eventWindow {

    img {
        width: 100%;
        height: auto;
    }
}

//邀請會員
.inviteWrap img {
    width: 100%;
    object-fit: contain;
}