//slot頁
.slotWrap {
    @include bgStyle_1;

    //slot上選單
    .slotHeader {
        width: 100%;
        height: 80px;
        background: $mainBG_1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 45px;
        left: 0;
        z-index: 100;
        padding: 0 14px;

        //選單
        .listBox {
            width: 100%;
            height: auto;

            ul {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;

                li {
                    width: auto;
                    height: auto;
                    border-bottom: solid 2px transparent;
                    color: $mainWord_1;
                    font-size: 3.7vw;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;
                    
                    &.active {
                        color: $title_1;
                        border-color: $mainBorder_1;
                    }

                    i {
                        width: 4vw;
                        height: 4vw;
                        margin-right: 5px;
                    }
                }
            }
        }

        //搜尋列
        .searchBox {
            width: 100%;
            height: 8vw;
            margin-bottom: 5px;
            @include slotSearch;

            .search_ic {
                width: 4vw;
                height: 4vw;
                flex-shrink: 0;
            }

            input {
                width: 100%;
                height: auto;
                @include slotSearch_Input;
            }
        }
    }

    //slot遊戲列
    .gameList {
        min-height: calc(100vh - 135px);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 8px;
        align-content: flex-start;
        padding: 90px 14px 20px;

        .gameBox {
            width: auto;
            height: auto;
            @include slotGameBox;

            p {
                width: 100%;
                height: 30px;
                color: $mainWord_1;
                font-size: 3.7vw;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 14px;

                .love {
                    width: 4vw;
                    height: 4vw;
                }
            }

            .btnBox {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                &.single {

                    button {
                        width: 92%;
                    }
                }

                button {
                    width: 20vw;
                    height: 8vw;
                    @include slotGameBtn_1;

                    &.try {
                        @include slotGameBtn_2;
                    }
                }
            }
        }
    }
}