//轉帳
.transWrap {
    @include bgStyle_1;
    padding: 10px 0;

    .wallet {
        width: 92vw;
        height: auto;
        background: $mainBG_1;
        border-radius: 5px;
        border: solid 1px $mainBorder_2;
        box-shadow: 0 5px 6px -2px $mainShadow_2;
        display: flex;
        margin: 0 auto 10px;
        padding: 14px;

        .helf {
            width: 100%;
            height: auto;

            .title {
                color: $mainWord_1;
                font-size: 4vw;
                font-weight: bold;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                i {
                    width: 4vw;
                    height: 4vw;
                    margin-left: 10px;
                }
                
                button {
                    width: 18vw;
                    height: 6vw;
                    @include thirdBtn;
                    font-size: 3vw;
                    margin-left: 20px;
                }
            }

            .amount {
                color: $money;
                font-size: 6vw;
                font-weight: bold;
            }
        }
    }
    
    .transBox {
        width: 100%;
        height: auto;
        background: $mainBG_1;
        padding: 14px;

        .selectBox {
            width: auto;
            height: auto;
            position: relative;
            margin-bottom: 15px;

            select {
                width: 100%;
                height: 10vw;
                @include mainSelect;
                padding-left: 12vw;
            }

            .smallWord {
                color: $title_1;
                font-size: 3vw;
                font-weight: bold;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 4vw;
            }
        }

        input {
            width: 100%;
            height: 10vw;
            @include mainInput;
            margin-bottom: 15px;
        }

        .check {
            width: 85%;
            height: 10vw;
            @include mainBtn;
            display: block;
            margin: 0 auto;
        }
    }

    .forPlatform {
        width: 100%;
        height: auto;
        background: $mainBG_1;
        margin-top: 10px;
        padding-bottom: 15px;

        .title {
            width: 100%;
            height: auto;
            color: $time;
            font-size: 3vw;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 12px 15px;
        }

        ul {
            width: 100%;
            height: auto;
            max-height: 67vw;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 8px;
            padding: 0 14px;
            overflow: hidden;

            &.active {
                max-height: none;
            }

            li {
                width: auto;
                height: auto;
                min-height: 16.5vw;
                border: solid 1px $mainBorder_2;
                border-radius: 5px;
                padding: 8px 0 0 10px;

                div {
                    color: $mainWord_1;
                    font-size: 3vw;
                    font-weight: bold;
                    letter-spacing: 1px;
                    display: flex;
                    align-items: center;

                    .smallInfo {
                        width: 4.5vw;
                        height: 4.5vw;
                        position: relative;
                        opacity: 0;
                        pointer-events: none;
                        margin-left: 5px;

                        &.display {
                            opacity: 1;
                            pointer-events: visible;
                        }

                        .inner {
                            @include smallTip;
                            display: none;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: -6vw;
                        }
                    }
                }

                p {
                    color: $money;
                    font-size: 4.5vw;
                    font-weight: bold;
                    margin-top: 10px;
                }
            }
        }

        .openBtn {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            margin-top: 15px;

            &.active {

                div {

                    .db_arrow {
                        transform: rotate(180deg);
                    }
                }
            }

            div {
                color: $mainWord_1;
                font-size: 3vw;
                font-weight: bold;
                letter-spacing: 1px;
                display: flex;
                align-items: center;

                .db_arrow {
                    width: 3vw;
                    height: 3vw;
                    margin-left: 10px;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}