//提款
.withWrap {
    @include bgStyle_1;

    //上半
    .walletBox {
        width: 100%;
        height: auto;
        margin: 10px 0;

        //漸層
        .gradient {
            width: 100%;
            height: auto;

            .content {
                width: 92vw;
                height: auto;
                background: $mainBG_1;
                border-radius: 5px;
                border: solid 1px $mainBorder_1;
                box-shadow: 0 5px 6px -2px $mainShadow_2;
                padding: 14px;
                margin: 0 auto 10px;

                .title {
                    color: $mainWord_1;
                    font-size: 4vw;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    i {
                        width: 4vw;
                        height: 4vw;
                        margin-left: 10px;
                    }
                }

                .amount {
                    color: $money;
                    font-size: 6vw;
                    font-weight: bold;
                }
            }

            .detail {
                width: 100%;
                height: 16vw;
                background: $mainBG_1;
                border-bottom: solid 1px $mainBorder_1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 24px;

                p {
                    color: $mainWord_1;
                    font-size: 3.7vw;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;

                    button {
                        width: 18vw;
                        height: 6vw;
                        @include thirdBtn;
                        font-size: 3vw;
                        margin-top: 8px;
                        padding: 0;
                    }

                    &.num {
                        color: $money;
                        font-size: 4.5vw;
                    }
                }
            }
        }

        .walletDetail {
            width: 100%;
            height: 10vw;
            background: $mainBG_1;
            overflow: hidden;
            box-sizing: content-box;
            padding: 10px 0;

            &.active {
                height: auto;
            }

            .check {
                width: 75%;
                height: 10vw;
                @include mainBtn;
                display: block;
                margin: 0 auto;
            }

            .detailBox {
                margin-top: 10px;
    
                ul {
                    width: 100%;
                    height: auto;
                    max-height: 67vw;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    gap: 8px;
                    padding: 0 14px;
                    overflow: hidden;
    
                    &.active {
                        max-height: none;
                    }
    
                    li {
                        width: auto;
                        height: auto;
                        min-height: 16.5vw;
                        border: solid 1px $mainBorder_2;
                        border-radius: 5px;
                        padding: 8px 0 0 10px;
    
                        div {
                            color: $mainWord_1;
                            font-size: 3vw;
                            font-weight: bold;
                            letter-spacing: 1px;
                            display: flex;
                            align-items: center;
    
                            .smallInfo {
                                width: 4.5vw;
                                height: 4.5vw;
                                position: relative;
                                opacity: 0;
                                pointer-events: none;
                                margin-left: 5px;
    
                                &.display {
                                    opacity: 1;
                                    pointer-events: visible;
                                }
    
                                .inner {
                                    @include smallTip;
                                    display: none;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    bottom: -6vw;
                                }
                            }
                        }
    
                        p {
                            color: $money;
                            font-size: 4.5vw;
                            font-weight: bold;
                            margin-top: 10px;
                        }
                    }
                }
    
                .openBtn {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    margin-top: 15px;
    
                    &.active {
    
                        div {
    
                            .db_arrow {
                                transform: rotate(180deg);
                            }
                        }
                    }
    
                    div {
                        color: $mainWord_1;
                        font-size: 3vw;
                        font-weight: bold;
                        letter-spacing: 1px;
                        display: flex;
                        align-items: center;
    
                        .db_arrow {
                            width: 3vw;
                            height: 3vw;
                            margin-left: 10px;
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }
    }

    //下半
    .withContent {
        width: 100%;
        height: auto;
        background: $mainBG_1;
        padding: 10px 14px;

        .remind {
            width: 100%;
            height: auto;
            @include wordBox;
            font-size: 3vw;
            line-height: 5.5vw;
            padding: 10px;
            margin-bottom: 15px;
        }

        select {
            width: 100%;
            height: 10vw;
            @include mainSelect;
        }
        
        .smallRemind {
            color: $remind;
            font-size: 3vw;
            font-weight: bold;
            margin-top: 5px;
        }

        input {
            width: 100%;
            height: 10vw;
            @include mainInput;
            margin-top: 15px;
        }

        .check {
            width: 80%;
            height: 10vw;
            @include mainBtn;
            display: block;
            margin: 10px auto 0;
        }
    }

    //提醒
    .remindBox {
        width: 92vw;
        height: auto;
        background: $mainBG_1;
        border-radius: 5px;
        border: solid 1px $mainBorder_1;
        padding: 14px;
        margin: 10px auto 0;

        p {
            color: $mainWord_1;
            font-size: 3vw;
            font-weight: bold;
            line-height: 4.5vw;
            margin-bottom: 8px;

            &.title {
                color: $title_1;
                font-size: 3.7vw;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }

            .sp {
                color: $remind;
            }
        }
    }
}